# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/ArcAnnihilation/ArcAnnihilation/obj/Debug
/ArcAnnihilation/ArcAnnihilation/bin/Release
/LegionAnnihilation/bin
/LegionAnnihilation/obj
/OverylayInformationV2/obj/Debug
/OverylayInformationV2/bin/Release
/OverylayInformationV2/bin/Debug
/OverylayInformationV2/obj/x64/Debug
/ArcAnnihilation/ArcAnnihilation/bin/Debug
/ArcAnnihilation/ArcAnnihilation/obj/x64/Debug
/ModifierVision/obj/x64/Debug
/ModifierVision/bin/Debug
/BadGuy/obj
/BadGuy/bin/Release
/BadGuy/bin/Debug
/PerfectBlink/obj/Debug
/PerfectBlink/bin/Release
/TinkerAnnihilation/bin/Debug
/TinkerAnnihilation/obj/Debug
/TinkerAnnihilation/obj/x64/Debug
/MeepoAnnihilation/bin/Debug
/MeepoAnnihilation/bin/Release
/MeepoAnnihilation/obj/Debug
/MeepoAnnihilation/obj/x64/Debug
/AutoDisable/bin/Release
/AutoDisable/obj/Debug
/AutoDisable/bin/Debug
/AutoDisable/obj/x64/Debug
/PerfectBlink/bin/Debug
/PerfectBlink/obj/x64/Debug
/MorphlingAnnihilation/bin
/MorphlingAnnihilation/obj
/Wisp Annihilation/bin/Debug
/Wisp Annihilation/obj
